<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink ="/login">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink ="/dashboard">Dashboard</a></li>
      <li><a routerLink ="/employees/1">Employee</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink ="/login" (click)="signout()"><span class="glyphicon glyphicon-log-in"></span> SignOut</a></li>
    </ul>
  </div>
</nav>
